<ion-view title="Home Page" id="page2">
  <ion-content padding="true" class="has-header">
    <h2 id="homePage-heading1" style="color:#000000;">All About Dulwich</h2>
    <ion-list id="homePage-list1">
      <ion-item class="item-thumbnail-left" id="homePage-list-item1">
        <h2>Thinks to do</h2>
      </ion-item>
    </ion-list>
    <button id="homePage-button1" class="button button-positive  button-block">Tap me!</button>
    <div id="homePage-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <form id="homePage-form1" class="list">
      <label class="item item-input" id="homePage-input1">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="homePage-input2">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-radio id="homePage-radio1">Radio</ion-radio>
      <ion-radio id="homePage-radio2">Radio</ion-radio>
    </form>
  </ion-content>
</ion-view>